.App {
  background-color: #e9bcb7;
  background-image: linear-gradient(315deg, #e9bcb7 0%, #29524a 74%);
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
.form {
  width: 50%;
}
.input {
  width: 100%;
}

.btn {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.error {
  margin-top: 5px;
  color: white;
}

.msg-container {
  width: 100%;
  text-align: -webkit-center;
}
.initial-text {
  font-size: 40px !important;
}

a {
  vertical-align: middle !important;
  font-size: 21px !important;
}
